.thumbnail
  width 100%
  height 100%

.section-about,
.section-members
  font-family 'Product Sans'
  line-height 150%
  padding-left 72px
  display block

.section-about p,
.section-members p,
ul
  max-width 720px
  margin 0 3rem 24px 0
  font-size 24px
  color #737373

h1
 color #737373

.thumbnail-members
  width 10%
  border-radius 50%

.section-members
  display flex
  flex-wrap wrap
  margin-bottom 5%

#thumbnail-space
  margin-right 5%
  margin-bottom 5%

footer
  padding 5%
  display flex
  align-items center

.logo
  height 3rem
  width 3rem
  margin-right 2rem

.spacer
  flex 1


